ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #F5F5F5;
    height:90px;
}
.Borders{
    background-color: #F5F5F5;
    border: solid ;
}
.heading{
    display:inline-block;
    width: 32%;
    text-align: center;
    margin-top: 0px;
    padding-top: 27px;
    height:65px;
    color:black;
}
.heading:hover{
    background-color: gray;
    color: white;
}

body{
    margin: 0;
}
.content_container{
    display: block;
    height:100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8CECC;
    margin-top: 0;
    border-left: solid;
    border-right: solid;
    padding-top: 25px;
}
.content{
    display: block;
    margin-top: 20px;
}
*/
.pageTitle{
    background-color: #F8CECC;
    padding-top: 30px;
}

h1{
    text-align: center;
    margin: 0;

}
.box_borders{
    width: auto;
    background-color: #919191;
   
   
   
}
.main_text_box{
    display:block;
    margin-top: 30px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: auto;
    border-left: solid;
    border-right: solid;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    width: 60%;
    height: 300px;
   
}
    
}


.bottomBox{
    margin-top: 100px;
    display:block;
    border:solid;
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    margin-bottom: 40px;
}
img{
    width: 200px;
    height:200px;
}
.projectIndiv{
    display: inline-block;
    float:left;
    border-right:solid;
    text-align: center;
    height: 350px;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
}
.projectIndiv3{
    display: inline-block;
    float:left;
    border-right:solid;
    text-align: center;
    height: 350px;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
}
.projectIndiv2{
    display: inline-block;
    float:right;
    text-align: center;
    height: 350px;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
}

h2{
  text-align: center; 
}
.bottomborder{
    display: block;
    height: 50px;
    width: 100%;
}
footer{
    display: block;
    height: 75px;
    text-align: center;
    font-size: 50px;
}